.idea
idea

.DS_Store
.installed.cfg

dict
db_sqlite3

venv

prod_setting.py
local_setting.py

**/migrations/**
!**/migrations
!**/migrations?__init__.py
*backend/*/migrations
*backend/*/migrations/__init__.py


__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

