{% block content %}
<!--<div class="toggle">-->
<!--    <ion-icon name="list-outline"></ion-icon>-->
<!--</div>-->

<div class="card">
    <div class="card-number">{{ room_count }}</div>
    <div class="card-name">Room(s)</div>
</div>
<div class="card">
    <div class="card-number">{{ messages_counter }}</div>
    <div class="card-name">Messages</div>
</div>
<div class="card">
    <div class="card-number"></div>
    <div class="card-name"></div>
</div>
<!--<div class="card">-->
<!--    <div class="card-number"></div>-->
<!--    <div class="card-name"></div>-->
<!--</div>-->
{% endblock %}